header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background:palevioletred;
  }
  
  h1{
    text-align: center;
 background-color: skyblue;
    text-align:center;
    color:black;
    font-size:x-large;
    font-family:comic;
    padding:5px;
    box-shadow:0 0 100px skyblue;

  }
#imagenes{
    margin-right: 5px;
    display: block;
    display:flex;
    }
    
     #Producto{
       padding: 5px; 
       margin:4%;
       border: 3px solid black;;
    background-position:center;
    }

    #imagenes1{
        margin-right: 5px;
        display: block;
        display:flex;
        }

        #imagenes2{
            margin-right: 5px;
            display: block;
            display:flex;
            }

            #imagenes3{
                margin-right: 5px;
                display: block;
                display:flex;
                }
                #imagenes4{
                    margin-right: 5px;
                    display: block;
                    display:flex;
                    }
                    #imagenes5{
                        margin-right: 5px;
                        display: block;
                        display:flex;
                        }
                        #imagenes6{
                            margin-right: 5px;
                            display: block;
                            display:flex;
                            }
                            #imagenes7{
                                margin-right: 5px;
                                display: block;
                                display:flex;
                                }

                                #KW{
                                    margin-right: 10px;
                                    display: block;
                                    display:flex;
                                  }
                                      #Kofuku,#World{
                                  padding: 2px;
                                  background:#bfe5ef; 
                                      }